<script>
num_complex_row_added = 0;

function addComplexOrConstraint(base_button) {
  var elem = document.createElement('input');
  elem.type = 'text';
  elem.value = base_button.previousSibling.value;
  base_button.parentNode.insertBefore(document.createTextNode(' Or '), base_button);
  base_button.parentNode.insertBefore(elem, base_button);
}

function addComplexConstraint(constraint) {
  var constraint_row = document.createElement('div');
  constraint_row.style.display = 'table-row';
  var constraint_cell1 = document.createElement('div');
  constraint_cell1.style.display = 'table-cell';
  constraint_row.appendChild(constraint_cell1);
  var constraint_cell2 = document.createElement('div');
  constraint_cell2.style.display = 'table-cell';
  if (num_complex_row_added > 0) {
    constraint_cell2.appendChild(document.createTextNode('And '));
  }
  constraint_row.appendChild(constraint_cell2);
  var constraint_cell3 = document.createElement('div');
  constraint_cell3.style.display = 'table-cell';
  constraint_row.appendChild(constraint_cell3);

  var elem = document.createElement('input');
  elem.type = 'text';
  elem.value = constraint;
  constraint_cell3.appendChild(elem);

  var elem = document.createElement('button');
  elem.type = 'button';
  elem.onclick = function() {addComplexOrConstraint(elem);};
  elem.appendChild(document.createTextNode('Or...'));
  constraint_cell3.appendChild(elem);

  var constraint_table = document.getElementById('complex_constraints');
  constraint_table.appendChild(constraint_row);

  num_complex_row_added++;
}

function addLunchBreak() {
  addComplexConstraint('30min M 11:30-13:30');
  addComplexConstraint('30min T 11:30-13:30');
  addComplexConstraint('30min W 11:30-13:30');
  addComplexConstraint('30min R 11:30-13:30');
  addComplexConstraint('30min F 11:30-13:30');
  addComplexConstraint('30min S 11:30-13:30');
  addComplexConstraint('30min U 11:30-13:30');
}

function getComplexConstraint() {
  var constraint_table = document.getElementById('complex_constraints');
  var output = ''
  first_row = true;
  for (var row_index = 0; row_index < constraint_table.childNodes.length;
       ++row_index) {
    row = constraint_table.childNodes[row_index];
    if (row.nodeName != "DIV") {
      continue;
    }
    if (first_row) {
      first_row = false;
      continue;
    }
    if (output != '') {
      output += ',';
    }
    first_cell = true
    cell = row.childNodes[2]
    for (var list_index = 0; list_index < cell.childNodes.length;
         ++list_index) {
      elem = cell.childNodes[list_index]
      if (elem.nodeName == 'INPUT') {
        if (!first_cell) {
          output += ' OR ';
        }
        first_cell = false;
        output += elem.value;
      }
    }
  }
  return output;
}

</script>
<h1>Step 2: Generic Scheduling Preferences (id {{ availability.id }})</h1>
The CSV data from <a href="{% url 'solver:initial' %}">Step 1</a>.  You probably don't want to edit this manually.  A later version of this application will provide a nice view for editing this data again.<br>

{% if availability.deleted %}
You do not have permission to view this page.
{% else %}

<form action="{% url 'solver:start_run' %}" method="post">
{% csrf_token %}
<textarea name="csv_data" rows="5" cols="150" width=100%>
{% for table_row in table_data %}{{ table_row | join:"," }}
{% endfor %}
</textarea><br>
<br>
Generic penalty and bonus terms.<br>
Default Lesson Length: <input type="text" name="default_length" value="30" size=3 />minutes<br>
Arrive Late Bonus: <input type="text" name="arrive_late_bonus" value="310" size=3 /><br>
Leave Early Bonus: <input type="text" name="leave_early_bonus" value="320" size=3 /><br>
Day Off Bonus: <input type="text" name="day_off_bonus" value="500" size=3 /><br>
No Break Penalty: <input type="text" name="no_break_penalty" value="0: 660, 60: 0, 240: 0, 300: 200, 330: 400, 360: 800, 420:1600, 480:3200, 540: 6400, 600: 12800, 660: 25600" size=150 /><br>
Pupil Preference Penalty (values correspond to 2,3,4,5,etc): <input type="text" name="pupil_preference_penalty" value="100,201,403,807" size=20 /><br>
Instructor Preference Penalty (values correspond to 2,3,4,5,etc): <input type="text" name="instructor_preference_penalty" value="305,620,1290,2600" size=20 /><br>
<div id="complex_constraints" style='display: table;'>
<div style='display: table-row;'>
<div style='display: table-cell;'>Complex Constraints: </div>
<div style='display: table-cell;'></div>
<div style='display: table-cell;'>
<button onclick="addComplexConstraint('30min M 11:30-13:30');" type="button" >Add Constraint</button>
<button onclick="addLunchBreak(); this.hidden = true;" type="button" >Add Lunch Break</button>
</div>
</div>
</div>
<input id="complex_constraints_input" type="text" name="complex_constraints" value="" hidden />
<button type="button" onclick="alert('Not Implemented');">Save</button>
<button type="submit" onclick="document.getElementById('complex_constraints_input').value = getComplexConstraint();">Solve</button><br>
<br>
Unimplemented features: Support penalty for consecutive day lessons.<br>
Unimplemented features: different penalties on different days.<br>
Unimplemented features: Save button for this page.<br>
Unimplemented features: Edit button for switching betwen csv and table view of constraints.<br>
Unimplemented features: logged in sessions.<br>
</form>
{% endif %}
