<h1>All pages in the database.</h1>
<p>If you want an example of how to use this application, go to an "availability" page.</p>
{% for availability in all_availability %}
  <a href="{% url 'solver:availability' availability.id %}">{% url 'solver:availability' availability.id %}</a><br>
{% endfor %}
{% for solver_run in all_solver_run %}
  <a href="{% url 'solver:run' solver_run.id %}">{% url 'solver:run' solver_run.id %}</a><br>
{% endfor %}
{% for schedule in all_schedule %}
  <a href="{% url 'solver:schedule' schedule.id %}">{% url 'solver:schedule' schedule.id %}</a><br>
{% endfor %}

