<html>
<body>
<h1>Free Online Session Scheduler ({{version_number}})</h1>
<p>Everything you enter on this site becomes publicly accessible.  I reserve the right to keep your data for as long or as short as I feel like it.  If you have confidential information (possibly your pupil's names, if they are unique) please don't upload them here (I don't want to be responsible for someone knowing who will be where at what time).  Please be aware that routine web logging captures your IP address which gives a general geographical indication of where you are accessing this site from.  Don't upload anything that when coupled with this information would compromise someone's safety.  If you are worried, please rename your pupils A, B, C, etc.</p>
<p>This web application solves what is known as the timetabling problem.  In its simplest form, this application will determine the best times to schedule all of your pupils given their preferences and constraints and your preferences and constraints.</p>
<p>Follow <b><a href="solver/">this</a></b> link to go to the application.  I know this website is quite complicated to use, if you have suggestions for how to improve it, please send me an email at manfred.georg@gmail.com .</p>
<p>This project is distributed under the <a href="http://www.gnu.org/licenses/gpl.html">GPL3</a>: <a href="https://github.com/mgeorg/scheduler">source code</a> is available for free on <a href="http://github.com/">github</a>.  Meaning, you can create a copy of this website if you feel like it (and you can be reasonably sure I won't start charging money or that this application will suddenly go away).</p>
<h2>General Instructions</h2>
<ol>
<li>This program is very unforgiving about formatting.  If you encounter an error, check that you haven't added or removed spaces, added or removed commas, changed the capitalization of something, used non-single letter abbreviations for days of the week, changed the order of start times so they aren't chronological or any number of other minor changes.  Let me know, if something is giving you trouble.</li>
<li>Follow the instructions carefully.  If the instructions say you should use a 1 character code for each day of the week and "U" stands for Sunday, then use "U".  Don't use "Sun" and expect the program to understand, it won't.</li>
</ol>
</body>
</html>
